.instructions-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.instructions-hero {
  height: 1274px;
  background-color: var(--dl-color-scheme-5f0a30);
}
.instructions-max-width {
  align-items: center;
}
.instructions-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.instructions-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 10%;
  align-items: space-between;
  flex-direction: column;
  background-color: #d47e7e;
}
.instructions-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 757px;
  display: flex;
  margin-bottom: 55px;
  flex-direction: column;
  justify-content: flex-start;
}
.instructions-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
}
.instructions-text {
  top: 121px;
  color: var(--dl-color-scheme-f5e8e41);
  right: -226px;
  width: var(--dl-size-size-xxlarge);
  margin: auto;
  position: absolute;
  text-align: left;
}
.instructions-image {
  width: 159px;
  height: 244px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.instructions-container4 {
  flex: 1;
  width: 516px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.instructions-text1 {
  top: 145px;
  color: var(--dl-color-scheme-f5e8e41);
  right: -107px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
}
.instructions-image1 {
  width: 193px;
  height: 298px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.instructions-container5 {
  flex: 0 0 auto;
  width: 485px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.instructions-text2 {
  top: 71px;
  right: -185px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
}
.instructions-pasted-image {
  opacity: 1;
  margin-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-scheme-f5e8e41);
  margin-bottom: var(--dl-space-space-unit);
}
.instructions-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.instructions-navlink {
  color: var(--dl-color-scheme-f5e8e41);
  width: auto;
  height: auto;
  z-index: 100;
  font-size: 300%;
  align-self: center;
  margin-top: 5%;
  text-align: center;
  transition: 0.3s;
  border-color: var(--dl-color-scheme-f5e8e41);
  border-width: 6px;
  border-radius: 42px;
  text-decoration: none;
}
.instructions-navlink:hover {
  background-color: var(--dl-color-scheme-f5e8e41);
}
.instructions-navlink1 {
  color: var(--dl-color-scheme-f5e8e41);
  width: auto;
  height: auto;
  z-index: 100;
  font-size: 300%;
  align-self: center;
  margin-top: 5%;
  text-align: center;
  transition: 0.3s;
  border-color: var(--dl-color-scheme-f5e8e41);
  border-width: 6px;
  border-radius: 42px;
  text-decoration: none;
}

@media(max-width: 991px) {
  .instructions-container2 {
    margin-top: 10%;
  }
  .instructions-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .instructions-navlink {
    color: var(--dl-color-scheme-f5e8e41);
    width: auto;
    height: auto;
    align-self: center;
    border-color: var(--dl-color-scheme-f5e8e41);
    border-width: 6px;
  }
  .instructions-navlink1 {
    color: var(--dl-color-scheme-f5e8e41);
    width: auto;
    height: auto;
    align-self: center;
    border-color: var(--dl-color-scheme-f5e8e41);
    border-width: 6px;
  }
}
@media(max-width: 767px) {
  .instructions-hero {
    height: 1032px;
  }
  .instructions-max-width {
    flex-direction: column-reverse;
  }
  .instructions-container2 {
    margin-top: 10%;
  }
  .instructions-content {
    width: 100%;
    margin-right: 0px;
  }
  .instructions-navlink {
    color: var(--dl-color-scheme-f5e8e41);
    width: auto;
    height: auto;
    align-self: center;
    border-color: var(--dl-color-scheme-f5e8e41);
    border-width: 6px;
  }
  .instructions-navlink1 {
    color: var(--dl-color-scheme-f5e8e41);
    width: auto;
    height: auto;
    align-self: center;
    border-color: var(--dl-color-scheme-f5e8e41);
    border-width: 6px;
  }
}
@media(max-width: 479px) {
  .instructions-container2 {
    margin-top: 10%;
  }
  .instructions-text {
    top: 96px;
    color: #6d2243;
    right: -20px;
    margin-top: var(--dl-space-space-halfunit);
    text-align: justify;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    text-transform: uppercase;
  }
  .instructions-image {
    width: 118px;
    height: 199px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .instructions-container4 {
    width: 158px;
    height: 325px;
  }
  .instructions-text1 {
    top: 165px;
    color: #6d2243;
    right: -215px;
  }
  .instructions-image1 {
    width: 119px;
    height: 197px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .instructions-container5 {
    width: 160px;
  }
  .instructions-text2 {
    top: 72px;
    color: #6d2243;
    right: -240px;
  }
  .instructions-pasted-image {
    width: 148px;
    height: 146px;
    opacity: 1;
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .instructions-navlink {
    color: var(--dl-color-scheme-f5e8e41);
    width: auto;
    height: auto;
    font-size: 150%;
    align-self: center;
    border-color: var(--dl-color-scheme-f5e8e41);
    border-width: 6px;
  }
  .instructions-navlink1 {
    color: var(--dl-color-scheme-f5e8e41);
    width: auto;
    height: auto;
    font-size: 150%;
    align-self: center;
    border-color: var(--dl-color-scheme-f5e8e41);
    border-width: 6px;
  }
}
